@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, i, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { box-sizing: border-box; }

/*INPUT PLACEHOLDER HEAD*/
input, button, textarea, select { display: block; margin: 0; appearance: none; box-shadow: none; border-radius: none; border: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; border-radius: 0; }

input:focus, textarea:focus, select:focus, button:focus { outline: 0; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder { color: white !important; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-SemiBoldItalic.eot"); src: url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic") format("svg"); font-weight: 600; font-style: italic; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-ExtraBold.eot"); src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-ExtraBoldItalic.eot"); src: url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic") format("svg"); font-weight: 800; font-style: italic; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-SemiBold.eot"); src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-Bold.eot"); src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-LightItalic.eot"); src: url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-Italic.eot"); src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.svg#OpenSans-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-Regular.eot"); src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-BoldItalic.eot"); src: url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg"); font-weight: bold; font-style: italic; }

@font-face { font-family: 'Open Sans'; src: url("../fonts/OpenSans-Light.eot"); src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'fontello'; src: url("../fonts/fontello.eot?54436213"); src: url("../fonts/fontello.eot?54436213#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?54436213") format("woff2"), url("../fonts/fontello.woff?54436213") format("woff"), url("../fonts/fontello.ttf?54436213") format("truetype"), url("../fonts/fontello.svg?54436213#fontello") format("svg"); font-weight: normal; font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54436213#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; /* Animation center compensation - margins should be symmetric */ /* remove if not needed */ margin-left: .2em; /* you can be more comfortable with increased icons size */ /* font-size: 120%; */ /* Font smoothing. That was taken from TWBS */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */ /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-heart-empty:before { content: '\e800'; }

/* '' */
.icon-phone:before { content: '\e801'; }

/* '' */
.icon-mobile:before { content: '\e805'; }

/* '' */
.icon-location:before { content: '\f031'; }

/* '' */
.icon-instagram:before { content: '\f16d'; }

/* '' */
.icon-vkontakte:before { content: '\f189'; }

/* '' */
.icon-cart-plus:before { content: '\f217'; }

/* '' */
.icon-whatsapp:before { content: '\f232'; }

/* '' */
.icon-facebook:before { content: '\f30c'; }

/* '' */
a { color: inherit; }

a:hover { color: inherit; text-decoration: inherit; }

html { scroll-behavior: smooth; }

img { width: 100%; }

.head { width: 100%; display: flex; background: #f0f0f0; border-bottom: 1px solid #040505; }

.button-div { display: flex; align-items: center; height: 100%; }

.block-icon { width: 130px; display: flex; align-items: center; }

.box { margin-left: 25px; }

.container-1 input#search { width: 300px; height: 50px; background-color: rgba(255, 255, 255, 0.8); font-family: "Open Sans"; font-size: 16px; color: #040505; padding-left: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #6c757d; -webkit-transition: background .55s ease; -moz-transition: background .55s ease; -ms-transition: background .55s ease; -o-transition: background .55s ease; transition: background .55s ease; }

.button-div .follow { margin-left: 11%; margin-top: -4px; }

.button-div .follow li:not(:last-child) { margin-right: 10px; }

.button-div .follow li { display: inline-block; list-style: none; width: 45px; height: 45px; border-radius: 50%; border: 2px solid #040505; }

.button-div .follow li a { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; text-decoration: none; color: #040505; font-size: 24px; }

.button-div .follow li #instagram:hover { background: #e4405f; color: #fff; border-radius: 50%; }

.button-div .follow li #facebook:hover { background: #3b5999; color: #fff; border-radius: 50%; }

.button-div .follow li #vk :hover { background: #3b5999; color: #fff; border-radius: 50%; }

.button-div .follow li:hover { background: #3b5999; }

.button-div .follow li:hover a { color: #fff; }

.loc-push { display: flex; align-items: center; justify-content: space-around; float: right; height: 100%; }

.adress { display: flex; align-items: center; justify-content: center; text-align: center; flex-direction: column; }

.adress a { font-family: "Open Sans"; color: #040505; font-size: 15px; font-weight: 700; }

.icon-box:nth-child(3) { padding-right: 0; }

.icon-box { display: flex; align-items: center; padding-right: 8px; margin-right: 10px; justify-content: center; }

.icon-box a { display: flex; font-family: "Open Sans"; color: #040505; font-size: 15px; font-weight: 700; }

.icon-box a:hover { text-decoration: none; color: #8892bb; }

.nav { width: 100%; height: 40px; background: #ffffff; display: flex; justify-content: center; align-items: center; position: sticky; top: 0; z-index: 99999999; }

.nav .nav-ul { display: flex; justify-content: space-around; position: relative; width: 100%; height: 100%; }

.nav .nav-li a:nth-child(1) { display: flex; justify-content: center; align-items: center; }

.nav-li { display: inline-block; height: 100%; }

.nav-li a { font-family: "Open Sans"; font-weight: 600; font-size: 16px; color: #191919; height: 100%; }

.nav-li a:hover { text-decoration: none; color: #4C4C5A; }

.nav-li .push-menu { width: 20px; height: 20px; position: relative; margin-right: 5px; }

.nav-li .push-menu .span-menu, .nav-li .push-menu .span-menu:before, .nav-li .push-menu .span-menu:after { display: block; height: 2px; width: 20px; background: #808080; position: absolute; top: 50%; left: 50%; margin-left: -10px; margin-top: -1px; transition: 0.4s; }

.nav-li .push-menu .span-menu:before, .nav-li .push-menu .span-menu:after { content: ''; }

.nav-li .push-menu .span-menu:before { transform: translateY(-5px); }

.nav-li .push-menu .span-menu:after { transform: translateY(5px); }

.nav-li .all_category { position: relative; }

.nav-li .all_category-items { opacity: 0; width: 100%; visibility: hidden; position: absolute; left: 0; top: 0; }

.nav-li .all_category-items ul { width: 134%; background: #ffffff; display: flex; justify-content: left; flex-direction: column; align-items: flex-start; padding: 5px 10px 15px 5px; border-bottom: 2px solid #040505; }

.nav-li .all_category-items ul .link-category { margin-top: 15px; }

.nav-li .all_category-items ul .link-category a { color: #040505; }

.nav-li .all_category-items ul .link-category a:hover { color: #6c757d; }

.nav-li .category-items { opacity: 0; visibility: hidden; position: absolute; width: 100%; top: 30px; left: 0; padding-bottom: 25px; padding-left: 5%; padding-right: 5%; background: #ffffff; border-bottom: 2px solid; }

.nav-li:hover .category-items { visibility: visible; opacity: 1; transition: all 0.4s; }

.nav-li:hover .all_category-items { visibility: visible; opacity: 1; transition: all 0.4s; }

.nav-li .category-items .title-category { font-family: "Open Sans"; font-weight: 600; font-size: 24px; color: #000000; padding-top: 15px; padding-bottom: 15px; border-bottom: 2px solid #040505; }

.nav-li .category-items .un-category { display: flex; justify-content: space-around; padding-left: 5%; padding-right: 5%; flex-wrap: wrap; }

.nav-li .category-items .un-category .un-category-items { display: inline-block; width: 200px; margin-top: 25px; }

.nav-li .category-items .un-category .un-category-items .subcategory { display: flex; justify-content: left; }

.nav-li .category-items .un-category .un-category-items .subcategory a { color: #040505; font-family: "Open Sans"; font-weight: 400; }

.nav-li .category-items .un-category .un-category-items .subcategory a:hover { color: #696969; }

.nav-li .category-items .un-category .title-subcategory { font-family: "Open Sans"; font-weight: 600; font-size: 19px; color: #000000; margin-top: 5px; margin-bottom: 5px; }

#sec-1 { width: 100%; height: 100vh; position: relative; }

#sec-1 .slide-1 { width: 100%; height: 100vh; background-size: cover; background-repeat: no-repeat; background-position: center; }

#sec-1 .owl-nav { bottom: 40px; left: 0; right: 0; margin: auto; z-index: 99; }

#sec-1 .owl-nav .owl-next { background: url(../images/right.png); background-size: cover !important; position: absolute; bottom: 46%; right: 7.5%; height: 73px; width: 40px; }

#sec-1 .owl-nav .owl-next:hover { background: url(../images/arrow-right.png); }

#sec-1 .owl-nav .owl-prev { background: url(../images/left.png); background-size: cover !important; position: absolute; bottom: 45%; left: 7.5%; height: 91px; width: 40px; }

#sec-1 .owl-nav .owl-prev:hover { background: url(../images/arrow-left.png); }

#sec-1 .owl-nav span { display: none; }

.carousel { margin-top: 5px; width: 100%; }

.carousel li { display: inline-block; list-style: none; }

main { padding-bottom: 25px; }

#main-content #woman-cloth { margin-top: 35px; }

#main-content .clothes { margin-top: 20px; margin-bottom: 18px; }

#main-content .clothes .carousel { margin-top: 10px; }

#main-content .clothes .carousel li:hover { border: 1px solid cornflowerblue; }

#main-content .clothes .carousel .owl-nav { bottom: 40px; left: 0; right: 0; margin: auto; z-index: 99; }

#main-content .clothes .carousel .owl-nav span { display: none; }

#main-content .clothes .carousel .owl-nav .owl-next { background-image: url(/images/right11.png); background-size: cover !important; position: absolute; bottom: 52%; right: -14px; height: 30px; width: 30px; border-radius: 50%; }

#main-content .clothes .carousel .owl-nav .owl-prev { background-image: url(/images/left11.png); background-size: cover !important; position: absolute; bottom: 52%; left: -14px; height: 30px; width: 30px; border-radius: 50%; }

#main-content .clothes .carousel .choice { display: flex; flex-direction: column; }

#main-content .clothes .carousel .properties { display: flex; flex-direction: column; justify-content: left; background: #ffffff; padding-left: 3px; padding-top: 5px; padding-bottom: 5px; }

#main-content .clothes .carousel .properties .linked { text-decoration: none; color: black; font-family: "Open Sans"; font-weight: 500; }

#main-content .clothes .carousel .properties .linked:hover { text-decoration: none; color: #A9A9A9; }

#main-content .clothes .carousel .properties .linked h2 { font-size: 16px; }

#main-content .clothes .carousel .properties .linked span { font-size: 14px; }

#main-content .clothes .cloth-t { text-decoration: none; color: #000000; font-family: "Open Sans"; font-weight: 500; }

#main-content .clothes .cloth-t h3 { margin-right: 13px; font-size: 18px; display: inline-block; }

#main-content .clothes .cloth-t h3:hover { color: grey; }

#main-content .clothes .cloth-t span { font-family: "Open Sans"; font-weight: 400; margin-right: 14px; display: inline-block; color: #666666; }

#main-content .img-wom { width: 100%; height: 200px; background-position: center; background-repeat: no-repeat; background-size: cover; margin-bottom: 23px; }

#main-content .elements { position: relative; }

#main-content .elements h2 { position: absolute; bottom: 20px; left: 10px; text-decoration: none; color: #ffffff; font-family: "Open Sans"; font-size: 22px; font-weight: 600; }

#main-content .elements:hover h2 { color: #F5F5DC; transform: scale(1.01); }

#main-content .elements:hover .wom-bag-sh { filter: brightness(40%); transition: all 0.6s; }

#main-content .wom-bag-sh { height: 200px; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; }

#main-content .right-blocks { margin-top: 15px; position: relative; transition: all 0.6s; }

#main-content .right-blocks .link-right { font-family: "Open Sans"; font-weight: 600; font-size: 16px; color: #53bab0; }

#main-content .right-blocks .link-right:hover { text-decoration: none; }

#main-content .right-blocks .link-right h2 { position: absolute; top: 0; left: 0; width: 100%; padding: 5px; }

#main-content .right-blocks .block-right { width: 100%; height: 215px; background-size: cover; background-repeat: no-repeat; background-position: center; }

#main-content .right-blocks .block-right-long { background-size: cover; background-repeat: no-repeat; background-position: center; height: 500px; }

#main-content .right-blocks:hover h2 { background: rgba(255, 255, 255, 0.8); transition: all 0.6s; color: #45575f; }

#main-content .right-blocks:hover .block-right { filter: brightness(70%); transition: all 0.6s; }

#main-content .right-blocks:hover .block-right-long { filter: brightness(70%); transition: all 0.6s; }

#product-1 { padding-top: 25px; padding-bottom: 25px; background: #f8f9fa; }

#product-1 .image-var { display: flex; position: sticky; top: 70px; z-index: 999999; justify-content: space-around; }

#product-1 .image-var .image-item { display: flex; flex-direction: column; }

#product-1 .image-var .image-item .image-items { width: 100px; height: 150px; margin-bottom: 15px; }

#product-1 .image-var .cloud-zoom { width: 320px; height: 480px; display: flex; }

#product-1 .image-var .cloud-zoom .mousetrap { width: 100% !important; height: 100% !important; display: none; }

#product-1 .image-var .cloud-zoom-lens { border: 4px solid #888; margin: -4px; background-color: #fff; cursor: move; }

#product-1 .image-var .cloud-zoom-title { font-family: Arial, Helvetica, sans-serif; position: absolute !important; background-color: #000; color: #fff; padding: 3px; width: 100%; text-align: center; font-weight: bold; font-size: 10px; top: 0px; }

#product-1 .image-var .cloud-zoom-big { border: 4px solid #ccc; overflow: hidden; }

#product-1 .image-var .cloud-zoom-loading { color: white; background: #222; padding: 3px; border: 5px solid #000; }

#product-1 .image-var .cloud-zoom-gallery { width: 100px; height: 200px; overflow: hidden; }

#product-1 .div-description .description { display: flex; flex-direction: column; justify-content: left; background: #ffffff; padding: 15px; }

#product-1 .div-description .description p { font-family: "Open Sans"; font-size: 16px; font-weight: 400; color: #1B1C1C; }

#product-1 .div-description .description .price { font-family: "Open Sans"; font-size: 22px; font-weight: 600; margin-top: 15px; margin-bottom: 15px; }

#product-1 .div-description .description .price span { color: rgba(242, 86, 58, 0.98); }

#product-1 .div-description .description .buttons { display: flex; }

#product-1 .div-description .description .buttons .now-buy { width: 166px; height: 50px; border: 1px solid #FF7676; border-radius: 10px; background: #ffffff; font-size: 18px; color: #040505; font-family: "Open Sans"; font-weight: 500; margin-right: 15px; }

#product-1 .div-description .description .buttons .now-buy:hover { cursor: pointer; background: rgba(255, 54, 53, 0.8); }

#product-1 .div-description .description .buttons .to-buy { width: 166px; height: 50px; background: rgba(255, 118, 118, 0.8); border-radius: 10px; font-size: 18px; color: #040505; font-family: "Open Sans"; font-weight: 500; }

#product-1 .div-description .description .buttons .to-buy:hover { cursor: pointer; background: rgba(255, 54, 53, 0.8); }

#product-1 .div-description .description .quantity { display: flex; align-items: center; }

#product-1 .div-description .description .quantity h3 { font-family: "Open Sans"; font-size: 18px; font-weight: 500; margin-top: 15px; margin-bottom: 15px; margin-right: 10px; color: #040505; }

#product-1 .div-description .description .quantity .value { font-family: "Open Sans"; font-size: 18px; font-weight: 500; margin-right: 3px; margin-left: 3px; color: #040505; }

#product-1 .div-description .description .color { font-family: "Open Sans"; font-size: 18px; font-weight: 500; color: #040505; }

#product-1 .div-description .description .color span { color: #6c757d; }

#product-1 .div-description .description .dimensions { display: flex; flex-direction: column; margin-top: 15px; margin-bottom: 15px; }

#product-1 .div-description .description .dimensions .dimensions-h2 { font-family: "Open Sans"; font-size: 18px; font-weight: 500; color: #040505; margin-bottom: 16px; }

#product-1 .div-description .description .dimensions ul { display: flex; }

#product-1 .div-description .description .dimensions ul li { margin-right: 15px; }

#product-1 .div-description .description .dimensions ul li a { background: #b3bec6; border: 1px solid #040505; border-radius: 5px; padding: 5px; }

#product-1 .div-description .description .dimensions ul li a:hover { background: #fff3cd; }

#product-1 .div-description .description .description-product { display: flex; flex-direction: column; }

#product-1 .div-description .description .description-product .description-product-h2 { font-family: "Open Sans"; font-size: 18px; font-weight: 500; color: #040505; margin-bottom: 10px; }

#product-1 .div-description .description .description-product p { font-family: "Open Sans"; font-size: 16px; font-weight: 400; color: #1B1C1C; }

#product-1 .div-description .reviews { width: 100%; padding-top: 25px; padding-bottom: 25px; background: #FFFFFF; margin-top: 10px; }

#product-1 .div-description .reviews .reviews-title { font-family: "Open Sans"; font-weight: 600; font-size: 22px; color: #000000; margin-bottom: 35px; padding-bottom: 10px; border-bottom: 1px solid #040505; }

#product-1 .div-description #advice { margin-top: 10px; padding-top: 25px; padding-bottom: 25px; background: #FFFFFF; }

#product-1 .div-description #advice .advice-title { font-family: "Open Sans"; font-weight: 600; font-size: 22px; color: #000000; margin-bottom: 35px; padding-bottom: 10px; border-bottom: 1px solid #040505; }

#product-1 .div-description #advice .carousel-advice { margin-top: 25px; padding-left: 5%; padding-right: 5%; }

#product-1 .div-description #advice .carousel-advice .owl-next { background: url(../images/arrow1.png); background-size: cover !important; position: absolute; bottom: 46%; right: -0.5%; height: 40px; width: 40px; }

#product-1 .div-description #advice .carousel-advice .owl-next:hover { background: url(../images/arrowrightthover1.png); }

#product-1 .div-description #advice .carousel-advice .owl-next span { display: none; }

#product-1 .div-description #advice .carousel-advice .owl-prev { background: url(../images/arrowlef1t.png); background-size: cover !important; position: absolute; bottom: 46%; left: -0.5%; height: 40px; width: 40px; }

#product-1 .div-description #advice .carousel-advice .owl-prev:hover { background: url(../images/arrowlefthover1.png); }

#product-1 .div-description #advice .carousel-advice .owl-prev span { display: none; }

#product-1 .div-description #advice .carousel-advice li:hover { border: 1px solid #040505; }

#product-1 .div-description #advice .carousel-advice .properties { display: flex; flex-direction: column; justify-content: left; background: #ffffff; padding-left: 3px; padding-top: 5px; padding-bottom: 5px; }

#product-1 .div-description #advice .carousel-advice .properties .linked { text-decoration: none; color: black; font-family: "Open Sans"; font-weight: 500; }

#product-1 .div-description #advice .carousel-advice .properties .linked:hover { text-decoration: none; color: #A9A9A9; }

#product-1 .div-description #advice .carousel-advice .properties .linked h2 { font-size: 16px; }

#product-1 .div-description #advice .carousel-advice .properties .linked span { font-size: 14px; }

#product-1 .div-description #similar { margin-top: 15px; padding-top: 25px; padding-bottom: 25px; background: #FFFFFF; }

#product-1 .div-description #similar .advice-title { font-family: "Open Sans"; font-weight: 600; font-size: 22px; color: #000000; margin-bottom: 35px; padding-bottom: 10px; border-bottom: 1px solid #040505; }

#product-1 .div-description #similar .carousel-advice { margin-top: 25px; padding-left: 5%; padding-right: 5%; }

#product-1 .div-description #similar .carousel-advice .owl-next { background: url(../images/arrow1.png); background-size: cover !important; position: absolute; bottom: 46%; right: -0.5%; height: 40px; width: 40px; }

#product-1 .div-description #similar .carousel-advice .owl-next:hover { background: url(../images/arrowrightthover1.png); }

#product-1 .div-description #similar .carousel-advice .owl-next span { display: none; }

#product-1 .div-description #similar .carousel-advice .owl-prev { background: url(../images/arrowlef1t.png); background-size: cover !important; position: absolute; bottom: 46%; left: -0.5%; height: 40px; width: 40px; }

#product-1 .div-description #similar .carousel-advice .owl-prev:hover { background: url(../images/arrowlefthover1.png); }

#product-1 .div-description #similar .carousel-advice .owl-prev span { display: none; }

#product-1 .div-description #similar .carousel-advice li:hover { border: 1px solid #040505; }

#product-1 .div-description #similar .carousel-advice .properties { display: flex; flex-direction: column; justify-content: left; background: #ffffff; padding-left: 3px; padding-top: 5px; padding-bottom: 5px; }

#product-1 .div-description #similar .carousel-advice .properties .linked { text-decoration: none; color: black; font-family: "Open Sans"; font-weight: 500; }

#product-1 .div-description #similar .carousel-advice .properties .linked:hover { text-decoration: none; color: #A9A9A9; }

#product-1 .div-description #similar .carousel-advice .properties .linked h2 { font-size: 16px; }

#product-1 .div-description #similar .carousel-advice .properties .linked span { font-size: 14px; }

#category-block { background-color: #f8f8f8; padding-bottom: 25px; }

#category-block #left-menu { background: #ffffff; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; position: sticky; top: 70px; }

#category-block #left-menu .left-menu { list-style: none; display: flex; }

#category-block #left-menu .left-menu a { padding: 5px; width: 100%; font-family: "Open Sans"; font-size: 14px; font-weight: 500; color: #040505; }

#category-block #left-menu .left-menu a:hover { color: rgba(216, 48, 46, 0.54); }

#category-block .category-name { width: 100%; font-family: "Open Sans"; font-size: 22px; font-weight: 600; color: #040505; padding: 10px; margin-bottom: 25px; }

#category-block .all_goods { display: flex; flex-wrap: wrap; padding: 0 10px 0 10px; background: #f8f8f8; }

#category-block .all_goods .dropdown { display: flex; width: 100%; flex-wrap: wrap; background: #ffffff; padding: 15px; }

#category-block .all_goods .dropdown .wow a { font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #040505; }

#category-block .all_goods .dropdown .wow a:hover { color: #6c757d; }

#category-block .all_goods .dropdown .wow:not(:first-child) { margin-left: 15px !important; }

#category-block .all_goods .dropdown .dropdown-toggle { border: 1px solid #bbbbbb; border-radius: 3px; }

#category-block .all_goods .products { background: #ffffff; width: 100%; display: flex; flex-wrap: wrap; padding: 10px; }

#category-block .all_goods .products .product { width: 180px; display: flex; overflow: hidden; position: relative; flex-direction: column; border-radius: 8px; margin: 8px; }

#category-block .all_goods .products .product img { height: 240px; }

#category-block .all_goods .products .product h2 { position: absolute; top: 0; left: 0; padding-top: 5px; padding-bottom: 5px; font-family: "Open Sans"; font-size: 18px; color: #3c7d7d; padding-left: 5px; }

#category-block .all_goods .products .product .product-text { opacity: 0; transition: all 0.6s; position: absolute; left: 0; bottom: -47px; display: flex; flex-direction: column; width: 100%; height: 50px; padding-left: 3px; background: rgba(228, 233, 237, 0.7); }

#category-block .all_goods .products .product:hover .product-text { bottom: 3px; opacity: 1; }

#advice { margin-top: 10px; padding-top: 25px; padding-bottom: 25px; background: #FFFFFF; }

#advice .advice-title { font-family: "Open Sans"; font-weight: 600; font-size: 22px; color: #000000; margin-bottom: 35px; padding-bottom: 10px; border-bottom: 1px solid #040505; }

#advice .carousel-advice { margin-top: 25px; padding-left: 5%; padding-right: 5%; }

#advice .carousel-advice .owl-next { background: url(../images/arrow1.png); background-size: cover !important; position: absolute; bottom: 46%; right: 1.5%; height: 40px; width: 40px; }

#advice .carousel-advice .owl-next:hover { background: url(../images/arrowrightthover1.png); }

#advice .carousel-advice .owl-next span { display: none; }

#advice .carousel-advice .owl-prev { background: url(../images/arrowlef1t.png); background-size: cover !important; position: absolute; bottom: 46%; left: 1.5%; height: 40px; width: 40px; }

#advice .carousel-advice .owl-prev:hover { background: url(../images/arrowlefthover1.png); }

#advice .carousel-advice .owl-prev span { display: none; }

#advice .carousel-advice li:hover { border: 1px solid #040505; }

#advice .carousel-advice .properties { display: flex; flex-direction: column; justify-content: left; background: #ffffff; padding-left: 3px; padding-top: 5px; padding-bottom: 5px; }

#advice .carousel-advice .properties .linked { text-decoration: none; color: black; font-family: "Open Sans"; font-weight: 500; }

#advice .carousel-advice .properties .linked:hover { text-decoration: none; color: #A9A9A9; }

#advice .carousel-advice .properties .linked h2 { font-size: 16px; }

#advice .carousel-advice .properties .linked span { font-size: 14px; }

footer .footer { width: 100%; border-top: 1px solid #2b4d8c; padding-top: 15px; padding-bottom: 55px; background: #f0f0f0; }

footer .footer .no-pad { padding: 0; }

footer .footer .footer-box { display: flex; justify-content: left; flex-direction: column; }

footer .footer .footer-box .icon-link { width: 50%; }

footer .footer .footer-box .footer-icon { display: inline-block; font-size: 20px; margin-top: 0px; }

footer .footer .footer-box p { font-family: "Open Sans"; font-weight: 400; font-size: 14px; color: #696969; line-height: 16px; margin-bottom: 10px; margin-top: 10px; }

footer .footer .footer-box h2 { font-family: "Open Sans"; font-weight: 500; font-size: 16px; color: #000000; margin-top: 5px; }

footer .footer .footer-box h2:hover { color: #808080; }

footer .footer .footer-box h3 { font-family: "Open Sans"; font-weight: 600; font-size: 16px; color: #000000; margin-bottom: 15px; margin-top: 9px; }

footer .footer .footer-box li { font-family: "Open Sans"; font-weight: 500; font-size: 15px; color: #000000; margin-top: 10px; margin-bottom: 10px; }

footer .footer .footer-box li:hover { color: #808080; }

/*# sourceMappingURL=maps/style.css.map */
