@import 'reset';
//sass
@import 'defination'; //sass


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBoldItalic.eot');
  src: url('../fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
  url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
  url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
  url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-LightItalic.eot');
  src: url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
  url('../fonts/OpenSans-LightItalic.woff') format('woff'),
  url('../fonts/OpenSans-LightItalic.ttf') format('truetype'),
  url('../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Italic.woff2') format('woff2'),
  url('../fonts/OpenSans-Italic.woff') format('woff'),
  url('../fonts/OpenSans-Italic.ttf') format('truetype'),
  url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.eot');
  src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
  url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'),
  url('../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans-Light.ttf') format('truetype'),
  url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?54436213');
  src: url('../fonts/fontello.eot?54436213#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?54436213') format('woff2'),
  url('../fonts/fontello.woff?54436213') format('woff'),
  url('../fonts/fontello.ttf?54436213') format('truetype'),
  url('../fonts/fontello.svg?54436213#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54436213#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart-empty:before {
  content: '\e800';
}

/* '' */
.icon-phone:before {
  content: '\e801';
}

/* '' */
.icon-mobile:before {
  content: '\e805';
}

/* '' */
.icon-location:before {
  content: '\f031';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-vkontakte:before {
  content: '\f189';
}

/* '' */
.icon-cart-plus:before {
  content: '\f217';
}

/* '' */
.icon-whatsapp:before {
  content: '\f232';
}

/* '' */
.icon-facebook:before {
  content: '\f30c';
}

/* '' */
img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}




.head {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right top, #1b4687, #3d5592, #56659e, #6d76a9, #8387b5);
}

.head-ul {
  margin-bottom: 15px;

  padding: 0;
}

.head-li {
  font-family: "Open Sans" !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  display: inline-block;
  list-style: none;

  margin-right: 15px;

  a {
    color: #ffffff;

    &:hover {
      text-decoration: none;
      color: #BC8F8F;
    }
  }
}

.button-div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.block-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
}

.block-icon:hover {
  transition: all 0.6s;
  transform: scale(1.2);
}

.box {
  margin-left: 25px;
}

.container-1 input#search {
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #FFFAF0;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.button-div {
  .follow {
    margin-left: 11%;
    margin-top: -4px;

    li:not(:last-child) {
      margin-right: 10px;
    }

    li {
      display: inline-block;
      list-style: none;
      width: 45px;
      height: 45px;
      border-radius: 50%;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #FFFAF0;
        font-size: 24px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.6);
        transition: all 0.6s;

        a {
          color: #2e4e8d;
        }
      }
    }
  }
}

.top-div {
  margin-top: 15px;
}

.loc-push {
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;

}

.adress {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  a {
    font-family: "Open Sans";
    color: #FFFAF0;
    font-size: 15px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: #FFFAF0;
    }
  }

}

.icon-box:nth-child(3) {
  padding-right: 0;
}

.icon-box {
  display: flex;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding-right: 8px;
  margin-right: 10px;
  justify-content: center;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.6s;
  }

  a {
    display: flex;
    font-family: "Open Sans";
    color: #FFFAF0;
    font-size: 15px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: #FFFAF0;
    }
  }
}


.right-head {
  margin-top: 18px;

  ul {
    float: right;
  }

  li {
    margin-right: 25px;
  }
}

.nav {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  margin-bottom: -40px;
  z-index: 999;

  .nav-ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .nav-li a:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-li {
  display: inline-block;
  height: 100%;

  a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    color: #808080;
    height: 100%;

    &:hover {
      text-decoration: none;
      color: #4C4C5A;

    }
  }

  .push-menu {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 5px;


    .span-menu, .span-menu:before, .span-menu:after {
      display: block;
      height: 2px;
      width: 20px;
      background: #808080;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -1px;
      transition: 0.4s;
    }

    .span-menu:before, .span-menu:after {
      content: '';
    }

    .span-menu:before {
      transform: translateY(-5px);
    }


    .span-menu:after {
      transform: translateY(5px);
    }
  }

  .category-items {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;

    .products {
      width: 100%;
      background: white;
      padding-bottom: 25px;
      padding-top: 25px;

      h2 {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 26px;
        width: 100%;
        padding-bottom: 15px;

      }

      .subcategory {
        display: flex;
        flex-direction: column;
        width: 100%;

        h2 {
          border-bottom: 2px solid black;
          width: 80%;

          a {
            font-size: 20px;
            justify-content: left;
          }
        }

        .sub-ul {
          .sub-ul-items {
            list-style: none;
            margin-top: 10px;

            a {
              justify-content: left;
            }
          }
        }
      }

    }

  }
  .category-items{
    .all-products{
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
     .all-prod{


       .all-prod-items{
         list-style: none;
         padding-top: 15px;
         padding-bottom: 15px;
         padding-left: 10px;
         &:hover{
           background: rgba(93, 138, 168, 0.4);
           .items-li{
             visibility: visible;
           }
         }
         a{
           width: 100%;
           display: flex;
           justify-content: left;
            height: 100%;
         }
         .items-ul{
           .items-li{
             visibility: hidden;
             .category-box{
               width: 80%;
               height: 100px;
               background: black;
               position: absolute;
               top: 0;
               left: 146px;
               span{
                 a{
                   font-size: 26px;
                   font-family: "Open Sans";
                   color: white;
                 }
               }
             }
           }
         }
         &:hover{
           .items-li{
             visibility: visible;
           }
         }

     }
    }
    }
  }

  &:hover {
    .category-items {
      visibility: visible;
    }
  }

}


#sec-1 {

  width: 100%;
  height: 100vh;
  position: relative;

  .slide-1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .owl-nav {

    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;

    .owl-next {
      background: url(../images/right.png);
      background-size: cover !important;
      position: absolute;
      bottom: 46%;
      right: 7.5%;
      height: 73px;
      width: 40px;

      &:hover {
        background: url(../images/arrow-right.png);
      }

    }

    .owl-prev {
      background: url(../images/left.png);
      background-size: cover !important;
      position: absolute;
      bottom: 45%;
      left: 7.5%;
      height: 91px;
      width: 40px;

      &:hover {
        background: url(../images/arrow-left.png);
      }
    }

    span {
      display: none;
    }
  }
}

.carousel {
  margin-top: 5px;
  width: 100%;

  li {

    display: inline-block;
    list-style: none;

  }
}

#main-content {

  #woman-cloth{
    margin-top: 35px;
  }
  .clothes {
    margin-top: 20px;
    margin-bottom: 18px;

    .carousel {
      margin-top: 10px;
      li{
        &:hover{
          border: 1px solid cornflowerblue;
        }
      }
      .owl-nav {

        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99;

        span {
          display: none;
        }

        .owl-next {
          background-image: url(/images/right11.png);
          background-size: cover !important;
          position: absolute;
          bottom: 52%;
          right: -14px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }

        .owl-prev {
          background-image: url(/images/left11.png);
          background-size: cover !important;
          position: absolute;
          bottom: 52%;
          left: -14px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
      .choice{
        display: flex;
        flex-direction: column;
        }
      .properties{
        display: flex;
        flex-direction: column;
        justify-content: left;
        background: #ffffff;
        padding-left: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        .linked{
          text-decoration: none;
          color: black;
          font-family: "Open Sans";
          font-weight: 500;
          &:hover{
            text-decoration: none;
            color: #A9A9A9;
          }
          h2{
            font-size: 16px;
          }
          span{
            font-size: 14px;
          }
        }
      }
    }

    .cloth-t {

      text-decoration: none;
      color: #4682B4;;
      font-family: "Open Sans";
      font-weight: 500;



      h3 {
        margin-right: 13px;
        font-size: 18px;
        display: inline-block;
        &:hover{
          color: #87CEEB;
        }
      }

      span {
        font-family: "Open Sans";
        font-weight: 400;
        margin-right: 14px;
        display: inline-block;
        &:hover{
          color: #87CEEB;
        }
      }

    }
  }

  .img-wom {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 18px;
  }

  .elements {
    position: relative;

    h2 {
      position: absolute;
      bottom: 20px;
      left: 10px;
      text-decoration: none;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 22px;
      font-weight: 600;
    }

    &:hover {
      h2 {
        color: #F5F5DC;
        transform: scale(1.01);
      }

      .wom-bag-sh {
        filter: brightness(40%);
        transition: all 0.6s;
      }
    }
  }

  .wom-bag-sh {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

#main-content {

  .right-blocks {
    margin-top: 15px;
     position: relative;
    transition: all 0.6s;
    .link-right{
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      color: #53bab0;
      &:hover{
        text-decoration: none;
      }
      h2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
      }
    }
    .block-right {
      width: 100%;
      height: 215px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .block-right-long{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 500px;
    }
    &:hover{
      h2{
        background: rgba(255, 255, 255, 0.8);
        transition: all 0.6s;
        color: #45575f;
      }
      .block-right{
        filter: brightness(70%);
        transition: all 0.6s;

      }
      .block-right-long{
        filter: brightness(70%);
        transition: all 0.6s;
      }
    }
  }
}
footer{
  .footer{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right top, #1b4687, #3d5592, #56659e, #6d76a9, #8387b5);
    .footer-box{
      display: flex;
      justify-content: left;
     .icon-link{
       width: 80%;
     }
    }
  }
}