@import 'reset';
//sass
@import 'defination'; //sass


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.eot');
  src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
  url('../fonts/Roboto-ThinItalic.woff') format('woff'),
  url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
  url('../fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.eot');
  src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
  url('../fonts/Roboto-MediumItalic.woff') format('woff'),
  url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
  url('../fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light_1.eot');
  src: url('../fonts/Roboto-Light_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light_1.woff2') format('woff2'),
  url('../fonts/Roboto-Light_1.woff') format('woff'),
  url('../fonts/Roboto-Light_1.ttf') format('truetype'),
  url('../fonts/Roboto-Light_1.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.eot');
  src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
  url('../fonts/Roboto-LightItalic.woff') format('woff'),
  url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
  url('../fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.eot');
  src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Italic.woff2') format('woff2'),
  url('../fonts/Roboto-Italic.woff') format('woff'),
  url('../fonts/Roboto-Italic.ttf') format('truetype'),
  url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic_1.eot');
  src: url('../fonts/Roboto-Italic_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Italic_1.woff2') format('woff2'),
  url('../fonts/Roboto-Italic_1.woff') format('woff'),
  url('../fonts/Roboto-Italic_1.ttf') format('truetype'),
  url('../fonts/Roboto-Italic_1.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Thin.eot');
  src: url('../fonts/../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/../fonts/Roboto-Thin.woff2') format('woff2'),
  url('../fonts/../fonts/Roboto-Thin.woff') format('woff'),
  url('../fonts/../fonts/Roboto-Thin.ttf') format('truetype'),
  url('../fonts/../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-ThinItalic_1.eot');
  src: url('../fonts/../fonts/Roboto-ThinItalic_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/../fonts/Roboto-ThinItalic_1.woff2') format('woff2'),
  url('../fonts/../fonts/Roboto-ThinItalic_1.woff') format('woff'),
  url('../fonts/../fonts/Roboto-ThinItalic_1.ttf') format('truetype'),
  url('../fonts/../fonts/Roboto-ThinItalic_1.svg#Roboto-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular_1.eot');
  src: url('../fonts/Roboto-Regular_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular_1.woff2') format('woff2'),
  url('../fonts/Roboto-Regular_1.woff') format('woff'),
  url('../fonts/Roboto-Regular_1.ttf') format('truetype'),
  url('../fonts/Roboto-Regular_1.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold_1.eot');
  src: url('../fonts/Roboto-Bold_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold_1.woff2') format('woff2'),
  url('../fonts/Roboto-Bold_1.woff') format('woff'),
  url('../fonts/Roboto-Bold_1.ttf') format('truetype'),
  url('../fonts/Roboto-Bold_1.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin_1.eot');
  src: url('../fonts/Roboto-Thin_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Thin_1.woff2') format('woff2'),
  url('../fonts/Roboto-Thin_1.woff') format('woff'),
  url('../fonts/Roboto-Thin_1.ttf') format('truetype'),
  url('../fonts/Roboto-Thin_1.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.eot');
  src: url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
  url('../fonts/Roboto-BlackItalic.woff') format('woff'),
  url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
  url('../fonts/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Black.eot');
  src: url('../fonts/../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/../fonts/Roboto-Black.woff2') format('woff2'),
  url('../fonts/../fonts/Roboto-Black.woff') format('woff'),
  url('../fonts/../fonts/Roboto-Black.ttf') format('truetype'),
  url('../fonts/../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-MediumItalic_1.eot');
  src: url('../fonts/../fonts/Roboto-MediumItalic_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/../fonts/Roboto-MediumItalic_1.woff2') format('woff2'),
  url('../fonts/../fonts/Roboto-MediumItalic_1.woff') format('woff'),
  url('../fonts/../fonts/Roboto-MediumItalic_1.ttf') format('truetype'),
  url('../fonts/../fonts/Roboto-MediumItalic_1.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic_1.eot');
  src: url('../fonts/Roboto-LightItalic_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-LightItalic_1.woff2') format('woff2'),
  url('../fonts/Roboto-LightItalic_1.woff') format('woff'),
  url('../fonts/Roboto-LightItalic_1.ttf') format('truetype'),
  url('../fonts/Roboto-LightItalic_1.svg#Roboto-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.eot');
  src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
  url('../fonts/Roboto-BoldItalic.woff') format('woff'),
  url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
  url('../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black_1.eot');
  src: url('../fonts/Roboto-Black_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black_1.woff2') format('woff2'),
  url('../fonts/Roboto-Black_1.woff') format('woff'),
  url('../fonts/Roboto-Black_1.ttf') format('truetype'),
  url('../fonts/Roboto-Black_1.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium_1.eot');
  src: url('../fonts/Roboto-Medium_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium_1.woff2') format('woff2'),
  url('../fonts/Roboto-Medium_1.woff') format('woff'),
  url('../fonts/Roboto-Medium_1.ttf') format('truetype'),
  url('../fonts/Roboto-Medium_1.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?65307061');
  src: url('../fonts/fontello.eot?65307061#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?65307061') format('woff2'),
  url('../fonts/fontello.woff?65307061') format('woff'),
  url('../fonts/fontello.ttf?65307061') format('truetype'),
  url('../fonts/fontello.svg?65307061#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-vk:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */


a {
  color: inherit;
  &:hover{
    color: inherit;
    text-decoration: inherit;
  }
}

html {
  scroll-behavior: smooth;
}

img{
  width: 100%;
}
.content-container{
  max-width: 1292px;
  padding: 0;
}

.head {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
background: #f0f0f0;
  border-bottom: 1px solid #040505;
}




.button-div {
  display: flex;
  align-items: center;
  height: 100%;

}

.block-icon {
  width: 130px;
  display: flex;
  align-items: center;
}

.box {
  body {
    background: #aaaaaa;
    font-family: helvetica;
    margin: 50px;
  }

  .search-bar {
    margin-left: 18px;
    height: 34px;
    width: 300px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    position: relative;
    background: #fff;
  }

  .input {
    border: none;
    height: 25px;
    width: 74%;
    color: #1b1b1b;
    font-size: 15px;
    outline: none;
    position: absolute;
    bottom: 1px;
  }

  .input:not(:placeholder-shown) + .label {
    font-size: 9px;
    top: 3px;
    color: #6c757d;
  }

  .input:focus ~ .label {
    font-size: 9px;
    top: 3px;
    color: #4279a3;
    transition: all 0.5s ease;
  }

  .label {
    color: #aaaaaa;
    position: absolute;
    top: 9px;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .search-btn {
    background: #ff7676;
    border-radius: 20px;
    height: 34px;
    min-width: 53px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    justify-content: center;
    cursor: pointer;
    right: 2px;
    position: absolute;
    transition: all 1s ease;
  }
  .search-icon{
    font-size: 20px;
    color: #ffffff;
  }

  .highlight {
    width: 0px;
    height: 1px;
    background: #4279a3;
    position: absolute;
    bottom: 4px;
    transition: all 1s ease;
  }

  .input:focus ~ .highlight {
    width:80%;
    transition: all 1s ease;
  }

}




.loc-push {
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
height: 100%;
}

.adress {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  a {
    font-family: 'Roboto';
    color: #040505;
    font-size: 15px;
    font-weight: 700;
  }

}

.icon-box:nth-child(3) {
  padding-right: 0;
}

.icon-box {
  display: flex;
  align-items: center;
  padding-right: 8px;
  margin-right: 10px;
  justify-content: center;
  .icon{
    margin-right: 3px;
  }
  .drop-valute{
    background: inherit!important;
    border-radius: 3px;
    border: 1px solid #6c757d!important;
  }
  .dropdown-menu{
    z-index: 999999999!important;
  }
  a {
    display: flex;
    font-family: 'Roboto';
    color: #040505;
    font-size: 15px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: #ff7676;
      transition: all 0.2s;
    }
  }
}


.nav {
  width: 100%;
  height: 40px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999999;
.nav-container{
  height: 100%;
}
  .nav-ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .nav-li a:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-li {
  display: inline-block;
  height: 100%;

  a {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    color: #191919;
    height: 100%;

    &:hover {
      text-decoration: none;
      color: #ff7676;
      transition: all 0.2s;
    }
  }

  .push-menu {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 5px;


    .span-menu, .span-menu:before, .span-menu:after {
      display: block;
      height: 2px;
      width: 20px;
      background: #808080;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -1px;
      transition: 0.4s;
    }

    .span-menu:before, .span-menu:after {
      content: '';
    }

    .span-menu:before {
      transform: translateY(-5px);
    }


    .span-menu:after {
      transform: translateY(5px);
    }
  }
  .all_category{
    position: relative;
  }
   .all_category-items{
     opacity: 0;
     width: 100%;
     visibility: hidden;
     position: absolute;
     left: 0;
     top: 0;
     ul{
       width: 134%;
       background: #ffffff;
       display: flex;
       justify-content: left;
      flex-direction: column;
       align-items: flex-start;
       padding: 5px 10px 15px 5px;
       border-bottom:2px solid #040505;
       .link-category{
         margin-top: 15px;
         a{
           color: #040505;
           &:hover{
             color: #ff767687;
           }
         }
       }
     }
   }
  .category-items {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    background: #ffffff;
    border-bottom: 2px solid;

  }



  &:hover {
    .category-items {
      visibility: visible;
      opacity: 1;
      transition: all 0.4s;
    }
    .all_category-items{
      visibility: visible;
      opacity: 1;
      transition: all 0.4s;
    }
  }
    .category-items{
      .title-category{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 24px;
        color: #000000;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom:2px solid #040505;
      }
      .un-category{
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        flex-wrap: wrap;
       .un-category-items{
         display: inline-block;
         width: 200px;
         margin-top: 25px;
        .subcategory{
          display: flex;
          justify-content: left;
          a{
            color: #040505;
            font-family: 'Roboto';
            font-weight: 400;
          &:hover{
            color: #ff767687;
          }
          }
        }
       }
      .title-subcategory{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 19px;
        color: #000000;
        margin-top: 5px;
        margin-bottom: 5px;
      }}

    }



}


#sec-1 {
background: #f8f9fa;
  width: 100%;
  height: 100vh;
  position: relative;

  .slide-1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .owl-nav {

    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;

    .owl-next {
      background: url(../images/right.png);
      background-size: cover !important;
      position: absolute;
      bottom: 46%;
      right: 7.5%;
      height: 73px;
      width: 40px;

      &:hover {
        background: url(../images/arrow-right.png);
      }

    }

    .owl-prev {
      background: url(../images/left.png);
      background-size: cover !important;
      position: absolute;
      bottom: 45%;
      left: 7.5%;
      height: 91px;
      width: 40px;

      &:hover {
        background: url(../images/arrow-left.png);
      }
    }

    span {
      display: none;
    }
  }
}

.carousel {
  margin-top: 5px;
  width: 100%;

  li {
      margin-bottom: 5px;
      margin-top: 5px;
    display: inline-block;
    list-style: none;
    background: #f8f9fa;

  }
}

#main-content {
  background: #f8f9fa;
.content-container{
  max-width: 1292px;
}
  #woman-cloth{
    margin-top: 35px;
  }
  .clothes {
    margin-top: 20px;
    margin-bottom: 18px;

    .carousel {
      margin-top: 10px;
      li{

          margin-bottom: 5px;
          margin-top: 5px;

        &:hover{
          box-shadow: 0 0 11px rgba(33,33,33,.4);
          transition: all 0.4s;
        }
      }
      .owl-nav {

        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99;

        span {
          display: none;
        }

        .owl-next {
          background: inherit;
          background-image: url(../images/rightt-chevron.png);
          background-size: cover !important;
          position: absolute;
          bottom: 52%;
          right: -18px;
          height: 40px;
          width: 19px;

        }

        .owl-prev{
          background: inherit;
          background-image: url(../images/left-chevron.png);
          background-size: cover !important;
          position: absolute;
          bottom: 52%;
          left: -20px;
          height: 40px;
          width: 19px;


        }
      }
      .item-product {
        background: #f8f9fa;
        border-radius: 5px;
        .product{
          position: relative;
          width: 220px;
          height: 260px;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          background: #f8f8f8;
          transition: all 0.4s;
          overflow: hidden;

          .product-image{
            border-radius: 5px;
            width: 220px;
            height: 220px;
            overflow: hidden;
          img{
            transition: all 0.6s;
          }
          }
          .product-text{
            background: #ffffff;
            position: absolute;
            bottom: -92px;
            border-radius: 5px;
            transition: all 0.4s;

            h2{
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 5px;
              font-family: 'Roboto';
              font-size: 18px;
              font-weight: 400;
              color: #040505;
            }

            p{
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 5px;
              font-family: 'Roboto';
              font-size: 14px;
              font-weight: 400;
              color: #040505;
            }
            .more{
              width: 100%;
              height: 25px;
              background: #ff7676;
              display: flex;
              color: #ffffff;
              font-family: 'Roboto';
              a{
                width: 100%;
                height: 100%;
              }
              &:hover{
                background: #ee60489c;
              }
            }
          }
          &:hover{
            border-radius: 5px;
            background: #ffffff;
            transition: all 0.4s;
            z-index: 3;
            .product-text{
              bottom: 0;
              z-index: 1;
              border-radius:5px;
              transition: all 0.6s;
              overflow: hidden;
            }
            .product-image{
              img{
                transition: all 0.6s;
                transform: scale(1.04);
              }
            }
          }
        }
      }
    }

    .cloth-t {

      text-decoration: none;
      color: #000000;;
      font-family: 'Roboto';
      font-weight: 500;



      h3 {
        margin-right: 13px;
        font-size: 18px;
        display: inline-block;
        &:hover{
          color: grey;
        }
      }

      span {
        font-family: 'Roboto';
        font-weight: 400;
        margin-right: 14px;
        display: inline-block;
         color: #666666;
      }

    }
  }

  .img-wom {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 23px;
  }

  .elements {
    position: relative;

    h2 {
      position: absolute;
      bottom: 20px;
      left: 10px;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 22px;
      font-weight: 600;
    }

    &:hover {
      h2 {
        color: #F5F5DC;
        transform: scale(1.01);
      }

      .wom-bag-sh {
        filter: brightness(40%);
        transition: all 0.6s;
      }
    }
  }

  .wom-bag-sh {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .banners{
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 245px;
    overflow: hidden;
    position: relative;
    .banner{
      width: 100%;
      height: 245px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.5s;
    }
    .banner-text{
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      bottom: -117px;
      background: rgba(0, 0, 0, 0.6);
      font-family: 'Roboto';
      color: #ffffff;
      transition: all 0.6s;

      h2{
        font-size: 16px;
      }
      p{
        font-size: 13px;
        font-weight: 400;
        margin-top: 6px;
        margin-bottom: 10px;
        line-height: 16px;
        font-style: italic;
        color: #dde0e2;
      }
      .banner-button{
        width: 50px;
        height: 18px;
        background: #ff7676;
        border-radius: 2px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
      }
    }
    &:hover{
      .banner{
        transform: scale(1.06);
        transition: all 0.5s;
        filter: brightness(75%)
      }
      .banner-text{
        bottom: 0px;
        transition: all 0.6s;
      }

    }
  }
}

#product-1{
  padding-top: 5px;
  padding-bottom: 25px;
  background: #f8f9fa;
  .breadcrumb{
    background: #f8f9fa!important;
    a:hover{
      color: #ff7676;
    }
  }
.image-var{
display: flex;
  flex-direction: column;
  align-items: center;
  //position: sticky;
  //top: 70px;

  z-index: 999999;
  justify-content: space-around;

  .owl-product{
    .owl-nav {

      bottom: 40px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 99;

      span {
        display: none;
      }

      .owl-next {
        background: inherit;
        background-image: url(../images/rightt-chevron.png);
        background-size: cover !important;
        position: absolute;
        bottom: 39%;
        right: -25px;
        height: 40px;
        width: 19px;

      }

      .owl-prev{
        background: inherit;
        background-image: url(../images/left-chevron.png);
        background-size: cover !important;
        position: absolute;
        bottom: 39%;
        left: -25px;
        height: 40px;
        width: 19px;


      }
    }
  }
  .image-item{
    display: flex;

    .image-items{
      width: 114px;
      margin-bottom: 15px;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .cloud-zoom{
    width: 420px;
    height: 420px;
    display: flex;
    overflow: hidden;
  }
  .cloud-zoom-lens {
    border: 4px solid #888;

    background-color:#fff;
    cursor:move;
  }


  .cloud-zoom-big {
    border:4px solid #ccc;
    overflow:hidden;
    width: 420px!important;
    height: 420px!important;
  }


  .cloud-zoom-loading {
    color:white;
    background:#222;
    padding:3px;
    border:5px solid #000;
  }
  .cloud-zoom-gallery{
    width: 100px;
    height: 200px;
    overflow: hidden;
  }


}
  .reviews{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    background: #FFFFFF;
    margin-top: 10px;
    .reviews-title{
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 22px;
      color: #000000;
      margin-bottom: 15px;
    }
    .review-stars{
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      color: #f7d96d;
      body {
        background: #FDFDFD;
        font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
        text-align:center;
      }
      h1, h2 {
        color: #888;
        margin:0;
        font-weight:normal;
      }
      h1{ padding-top: 1.5em; padding-bottom: 2em; }
      h2 {
        clear:both;
        color: #aaa;
        padding: 2em 0 0.3em
      }
      em {
        display: block;
        margin: .5em auto 2em;
        color: #bbb;
      }

      p, p a {
        color: #aaa;
        text-decoration: none;
      }
      p a:hover,
      p a:focus {
        text-decoration: underline;
      }
      p + p { color: #bbb; margin-top: 2em;}
      .detail {position: absolute; text-align: right; right: 5px; bottom: 5px; width: 50%;}

      a[href*="intent"] {
        display:inline-block;
        margin-top: 0.4em;
      }

      /*
       * Rating styles
       */
      .rating {
        width: 226px;
        margin: 0 auto 1em;
        font-size: 45px;
        overflow:hidden;
      }
      .rating input {
        float: right;
        opacity: 0;
        position: absolute;
      }
      .rating a,
      .rating label {
        float:right;
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
      }
      .rating label:hover ~ label,
      .rating input:focus ~ label,
      .rating label:hover,
      .rating a:hover,
      .rating a:hover ~ a,
      .rating a:focus,
      .rating a:focus ~ a		{
        color: orange;
        cursor: pointer;
      }
      .rating2 {
        direction: rtl;
      }
      .rating2 a {
        float:none
      }


    }
    .review-sort{
      display: flex;
      padding-top: 5px;
      padding-bottom: 15px;
      border-bottom:1px solid #040505;
     li:not(:last-child){
        margin-right: 10px;
      }
      .review-sorts{
        height: 25px;
        background: #eee;
        border-radius: 11px;
        padding: 4px;
      }
      .reviews_active{
        background: #ff7676;
        color: #ffffff;
      }

    }
  }
  .div-description{
  .description{
   display: flex;
   flex-direction: column;
    justify-content: left;
    background: #ffffff;
    padding: 15px;
    p{
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
      color: #1B1C1C;
    }
    .price{
      font-family: 'Roboto';
      font-size: 22px;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 15px;
      span{
        color: rgba(242,86,58,0.98);
      }
    }
    .buttons{
      display: flex;
      .now-buy{
        width: 166px;
        height: 50px;
        border: 1px solid #FF7676;
        border-radius: 10px;
        background: #ffffff;
        font-size: 18px;
        color: #040505;
        font-family: 'Roboto';
        font-weight: 500;
        margin-right: 15px;
       &:hover{
         cursor: pointer;
         background: rgba(255, 54, 53, 0.8);
       }
      }
      .to-buy{
        width: 166px;
        height: 50px;
        background: rgba(255, 118, 118, 0.8);
        border-radius: 10px;
        font-size: 18px;
        color: #040505;
        font-family: 'Roboto';
        font-weight: 500;
        &:hover{
          cursor: pointer;
          background: rgba(255, 54, 53, 0.8);
        }
      }
    }
    .quantity{
      display: flex;
      align-items: center;
      .add-button{
        width: 20px;
        height: 20px;
        background: inherit;
        &:hover{
          color:#ff7676;
          cursor: pointer;
        }
      }

      h3{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 10px;
        color: #040505;
      }
      .value{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 500;
        margin-right: 3px;
        margin-left: 3px;
        color: #040505;
      }
    }
    .color{
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 500;
      color: #040505;
      span{
       color: #6c757d;
      }
    }
    .dimensions{
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 15px;
      .dimensions-h2{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 500;
        color: #040505;
        margin-bottom: 16px;
      }
      ul{
        display: flex;
        li{
          position: relative;
          margin-right: 15px;
          &:hover{
            .more-description{
              visibility: visible;
            }
          }
         .dimension{

            background: #eee;
            border: 1px solid #85989c;
            border-radius: 5px;
            padding: 5px;
            &:hover{
              background: #FF7676;
            }
          }
          .more-description{
            visibility: hidden;
            display: flex;
            min-width: 150px;
            flex-direction: column;
            background: #ffffff;
            padding: 10px;
            position: absolute;
            bottom: 28px;
            left: -24px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            font-family: Roboto;
            font-size: 14px;
          li{
            display: flex;
            margin-bottom: 1px;
            margin-right: 0px;
          }}
        }
      }
    }
    .description-product{
      display: flex;
      flex-direction: column;
      .description-product-h2{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 500;
        color: #040505;
        margin-bottom: 10px;
      }
      p{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        color: #1B1C1C;
      }
    }
  }

    #advice{
      margin-top: 10px;

      padding-top: 25px;
      padding-bottom: 25px;
      background: #FFFFFF;
      .advice-title{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 22px;
        color: #000000;
        margin-bottom: 35px;
        padding-bottom: 10px;
        border-bottom:1px solid #040505;
      }
      .carousel-product-right {
        margin-top: 10px;
        li{

          margin-bottom: 5px;
          margin-top: 5px;

          &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.4);
            transition: all 0.4s;
          }
        }
        .owl-nav {

          bottom: 40px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 99;

          span {
            display: none;
          }

          .owl-next {
            background: inherit;
            background-image: url(../images/rightt-chevron.png);
            background-size: cover !important;
            position: absolute;
            bottom: 52%;
            right: -18px;
            height: 40px;
            width: 19px;

          }

          .owl-prev{
            background: inherit;
            background-image: url(../images/left-chevron.png);
            background-size: cover !important;
            position: absolute;
            bottom: 52%;
            left: -20px;
            height: 40px;
            width: 19px;


          }
        }
        .item-product {
          background: #f8f9fa;
          border-radius: 5px;
          width: 220px;
          .product{
            position: relative;
            width: 220px;
            height: 260px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background: #f8f8f8;
            transition: all 0.4s;
            overflow: hidden;

            .product-image{
              border-radius: 5px;
              width: 220px;
              height: 220px;
              overflow: hidden;
              img{
                transition: all 0.6s;
              }
            }
            .product-text{
              background: #ffffff;
              position: absolute;
              bottom: -92px;
              border-radius: 5px;
              transition: all 0.4s;

              h2{
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 5px;
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 400;
                color: #040505;
              }

              p{
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 5px;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                color: #040505;
              }
              .more{
                width: 100%;
                height: 25px;
                background: #ff7676;
                display: flex;
                color: #ffffff;
                font-family: 'Roboto';
                a{
                  width: 100%;
                  height: 100%;
                }
                &:hover{
                  background: #ee60489c;
                }
              }
            }
            &:hover{
              border-radius: 5px;
              background: #ffffff;
              transition: all 0.4s;
              z-index: 3;
              .product-text{
                bottom: 0;
                z-index: 1;
                border-radius:5px;
                transition: all 0.6s;
                overflow: hidden;
              }
              .product-image{
                img{
                  transition: all 0.6s;
                  transform: scale(1.04);
                }
              }
            }
          }
        }
      }
    }
    #similar{
      margin-top: 15px;
      padding-top: 25px;
      padding-bottom: 25px;
      background: #FFFFFF;
      .advice-title{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 22px;
        color: #000000;
        margin-bottom: 35px;
        padding-bottom: 10px;
        border-bottom:1px solid #040505;
      }
      .carousel-product-right {
        margin-top: 10px;
        li{

          margin-bottom: 5px;
          margin-top: 5px;

          &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.4);
            transition: all 0.4s;
          }
        }
        .owl-nav {

          bottom: 40px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 99;

          span {
            display: none;
          }

          .owl-next {
            background: inherit;
            background-image: url(../images/rightt-chevron.png);
            background-size: cover !important;
            position: absolute;
            bottom: 52%;
            right: -18px;
            height: 40px;
            width: 19px;

          }

          .owl-prev{
            background: inherit;
            background-image: url(../images/left-chevron.png);
            background-size: cover !important;
            position: absolute;
            bottom: 52%;
            left: -20px;
            height: 40px;
            width: 19px;


          }
        }
        .item-product {
          background: #f8f9fa;
          border-radius: 5px;
          width: 220px;
          .product{
            position: relative;
            width: 220px;
            height: 260px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background: #f8f8f8;
            transition: all 0.4s;
            overflow: hidden;

            .product-image{
              border-radius: 5px;
              width: 220px;
              height: 220px;
              overflow: hidden;
              img{
                transition: all 0.6s;
              }
            }
            .product-text{
              background: #ffffff;
              position: absolute;
              bottom: -92px;
              border-radius: 5px;
              transition: all 0.4s;

              h2{
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 5px;
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 400;
                color: #040505;
              }

              p{
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 5px;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
                color: #040505;
              }
              .more{
                width: 100%;
                height: 25px;
                background: #ff7676;
                display: flex;
                color: #ffffff;
                font-family: 'Roboto';
                a{
                  width: 100%;
                  height: 100%;
                }
                &:hover{
                  background: #ee60489c;
                }
              }
            }
            &:hover{
              border-radius: 5px;
              background: #ffffff;
              transition: all 0.4s;
              z-index: 3;
              .product-text{
                bottom: 0;
                z-index: 1;
                border-radius:5px;
                transition: all 0.6s;
                overflow: hidden;
              }
              .product-image{
                img{
                  transition: all 0.6s;
                  transform: scale(1.04);
                }
              }
            }
          }
        }
      }
    }

  }
}
#category-block {
  background-color: #f8f8f8;
  padding-bottom: 25px;
  .breadcrumb{
    background: #f8f9fa!important;
    a:hover{
      color: #ff7676;
    }
  }
  #left-menu{
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: sticky;
    top: 70px;
.left-menu{

  list-style: none;
  display: flex;
  a{
    padding: 5px;
    width: 100%;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: #040505;
    &:hover{
      color: rgba(216, 48, 46, 0.54);
    }
  }

}}
  .category-name{
    width: 100%;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 600;
    color: #040505;
    padding: 10px;
    margin-bottom: 25px;
  }
.all_goods{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 10px;
  background: #ffffff;

  .dropdown{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: #ffffff;
   padding: 15px;
    .wow{
      a{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: #040505;
        &:hover{
          color: #6c757d;
        }
        span{
          color:#6c757d;
        }
      }
    }
    .wow:not(:first-child){
      margin-left: 15px!important;
    }
   .dropdown-toggle{
     border: 1px solid #bbbbbb;
     border-radius: 3px;
   }
    .dropdown-menu{
      padding: 5px 0px 0px 0px ;
      .input1{
        display: flex;
        padding: 5px;
        align-items: center;
        margin: 5px 0 5px 0;

        h2{
          margin-right: 5px;
        }
        .input_price{
          border: 1px solid #6c757d;
          border-radius: 3px;
          padding-left: 5px;
        }
      }
      .apply{
        width: 100%;
        height: 25px;
        background: #ff7676;
        color: #ffffff;
        font-family: Roboto;
      }
    }
  }
.product{
  position: relative;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #f8f8f8;
  transition: all 0.4s;
  margin-bottom: 10px;
  h2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #040505;
  }
  .product-image{
    border-radius: 5px;
  width: 100%;
  height: 240px;
  overflow: hidden;}
  .product-text{
    visibility: hidden;
    background: #ffffff;
    position: absolute;
    bottom: -100px;

    border-radius: 5px;

    p{
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 5px;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 400;
      color: #040505;
    }
    .more{
      width: 100%;
      height: 25px;
      background: #ff7676;
      display: flex;
      color: #ffffff;
      font-family: 'Roboto';
      a{
        width: 100%;
        height: 100%;
      }
      &:hover{
        background: #ee60489c;
      }
    }
  }
  &:hover{
    border-radius: 5px 5px 0 0;
    background: #ffffff;
    transition: all 0.4s;
    transform: scale(1.04);
    z-index: 3;
    box-shadow: 0 14px 28px rgba(0,0,0,0.8), 0 10px 10px rgba(0,0,0,0.22);

    .product-text{

      z-index: 1;
      visibility: visible;
      opacity: 1;
      border-radius: 0 0 5px 5px;
      transition: all 0.6s;
      box-shadow: 0 12px 13px rgba(0,0,0,0.8), 0 10px 10px rgba(0,0,0,0.22);
overflow: hidden;

    }
  }
} } }
#advice{
  margin-top: 10px;

  padding-top: 25px;
  padding-bottom: 25px;
  background: #FFFFFF;
  .advice-title{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom:1px solid #040505;
  }
  .carousel-product {
    margin-top: 10px;
    li{

      margin-bottom: 5px;
      margin-top: 5px;

      &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.4);
        transition: all 0.4s;
      }
    }
    .owl-nav {

      bottom: 40px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 99;

      span {
        display: none;
      }

      .owl-next {
        background: inherit;
        background-image: url(../images/rightt-chevron.png);
        background-size: cover !important;
        position: absolute;
        bottom: 52%;
        right: -18px;
        height: 40px;
        width: 19px;

      }

      .owl-prev{
        background: inherit;
        background-image: url(../images/left-chevron.png);
        background-size: cover !important;
        position: absolute;
        bottom: 52%;
        left: -20px;
        height: 40px;
        width: 19px;


      }
    }
    .item-product {
      background: #f8f9fa;
      border-radius: 5px;
      width: 220px;
      .product{
        position: relative;
        width: 220px;
        height: 260px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: #f8f8f8;
        transition: all 0.4s;
        overflow: hidden;

        .product-image{
          border-radius: 5px;
          width: 220px;
          height: 220px;
          overflow: hidden;
          img{
            transition: all 0.6s;
          }
        }
        .product-text{
          background: #ffffff;
          position: absolute;
          bottom: -92px;
          border-radius: 5px;
          transition: all 0.4s;

          h2{
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 5px;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 400;
            color: #040505;
          }

          p{
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 5px;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 400;
            color: #040505;
          }
          .more{
            width: 100%;
            height: 25px;
            background: #ff7676;
            display: flex;
            color: #ffffff;
            font-family: 'Roboto';
            a{
              width: 100%;
              height: 100%;
            }
            &:hover{
              background: #ee60489c;
            }
          }
        }
        &:hover{
          border-radius: 5px;
          background: #ffffff;
          transition: all 0.4s;
          z-index: 3;
          .product-text{
            bottom: 0;
            z-index: 1;
            border-radius:5px;
            transition: all 0.6s;
            overflow: hidden;
          }
          .product-image{
            img{
              transition: all 0.6s;
              transform: scale(1.04);
            }
          }
        }
      }
    }
  }
}
#bascet{
background: #e9ecef;
  padding-bottom: 20px;
  .bascet-name{
    width: 100%;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    color: #040505;
    padding: 10px;
    margin-bottom: 25px;
  }
  .purchased{
    width: 100%;
    display: flex;
    flex-direction: column;
    .all-purchased{
      display: flex;
      align-items: center;
      padding: 15px 15px 15px 5px;
      background: #ffffff;
      justify-content: space-between;
      .delete{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        color: #ff7676;
        &:hover{
          color: #ff5749;
        }
      }
      .forms{
        display: flex;
      }
      h3{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        color: #040505;

      }
      .form-check{
        -webkit-appearance: checkbox;
        width: 18px;
        height: 18px;
        margin-right: 10px;

      }
    }
    .instance{
      display: flex;
      margin-top: 2px;
      padding: 15px 0 15px 5px;
      background: #ffffff;
      flex-direction: column;
      .form{
        display: flex;
        align-items: center;
        width: 100%;
      }
      .form-check{
        -webkit-appearance: checkbox;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        background: #ff7676!important;
      }
      h3{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        color: #040505;
        margin-top: 6px;
      }
      .inst-image-block{
        display: flex;
        margin-top: 15px;
      }
      .inst-image-box{
        width: 160px;
        height: 160px;
        overflow: hidden;
      }
      .inst-ul{
         display: flex;
         flex-direction: column;
         margin-left: 16px;
         li{
           display: flex;
         }
         li:not(:first-child){
           margin-top: 10px;
         }

         h2{
           font-family: 'Roboto';
           font-size: 14px;
           font-weight: 500;
           color: #6c757d;
         }
         span{
           font-family: 'Roboto';
           font-size: 14px;
           font-weight: 500;
           color: #1B1C1C;
         }
          .add-button{
            width: 20px;
            height: 20px;
            border: 1px #6c757d;
            background: inherit;
            &:hover{
              color:#ff7676;
              cursor: pointer;
            }
          }
       }
      .inst-text-block{
        display: flex;
        justify-content: flex-end;
      }
      .inst-ul-2{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
           justify-content: space-between;
        }
        li:not(:first-child){
          margin-top: 10px;
        }

        h2{
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 500;
          color: #000000;
        }
        span{
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          color: #6c757d;
        }
      }

    }
  }
  .sticky-sum{
    position: sticky;
    top: 42px;
  }
  .sum{
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 5px;
    background: #ffffff;
    h2{
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      color: #040505;
    }
  }
  .all-sum{
    margin-top: 1px;
    background: #ffffff;
    display: flex;
    padding: 10px 10px 5px 10px;
    flex-direction: column;
    align-items: center;
    .sum-ul{
      width: 100%;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      li{
        display: flex;
        justify-content: space-between;
      }
      li:not(:first-child){
        margin-top: 10px;
      }
      h2{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        color: #000000;
      }
      span{
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        color: #6c757d;
      }
    }
    .push-item{
      margin-top: 15px;
      width: 80%;
      height: 30px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
      background: #ff7676;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#agreement{
  background: #e9ecef;
  padding: 20px 5% 40px 5%;
  .text-box{
    margin-top: 15px;
  }
  .ul-agreement{
    padding-left: 17px;
  .li-agreement{
    list-style: disc;
  }}

h2{
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  color: #2d2f43;
}
  h3{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #2d2f43;
    line-height: 24px;
    margin-top: 15px;

  }
  h4{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #2d2f43;
    line-height: 24px;
    margin-top: 15px;

  }
  p{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #2d2f43;
    line-height: 24px;
    margin-top: 15px;

  }
  a{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #2d2f43;
    line-height: 24px;
    margin-top: 15px;
  &:hover{
    color: #ff7676;
  }
  }
}
#questions{
  background: #e9ecef;
  padding: 20px 0 40px 0;

  .tab_div {
    width: 100%;
    display: flex;
  }
  .tab_content{
    padding: 1% 10px 10px 10px;
    width: 80%;
  }

  .tabs_menu {
    padding-top: 1%;
    width: 20%;
  }

  ul.tabs {
    padding: 0;
  }

  #tab1,
  #tab2,
  #tab3,
  #tab4,
  #tab5,
  #tab6,
  #tab7,
  #tab8,
  #tab9,
  #tab10,
  #tab11,
  #tab12 {
    display: flex;
    padding: 7px;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #3a3a3ade;
  }
  #tabsName,
  #tabsName1,
  #tabsName2{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #3a3a3ade;
    display: flex;
    padding: 7px;
    width: 100%;
    background: #ff9e84f0;
    cursor: inherit;
  }

  ul.tabs li {
    list-style-type: none;
    font-size: 18px;
  }



  #tab1_content,
  #tab2_content,
  #tab3_content,
  #tab4_content,
  #tab5_content,
  #tab6_content,
  #tab7_content,
  #tab8_content,
  #tab9_content,
  #tab10_content,
  #tab11_content,
  #tab12_content {
    background: #ffffff;
    height: auto;
    display: flex;
    color: #2d2d2d;
    flex-direction: column;

.title-tab{
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #3a3a3ade;
  padding: 5px;
}

    .content-wrap {
      padding: 23px 15px;
     width: 100%;

      hr {
        color: #9a9a9a;
        height: 1px;
        background: #ccc;
        border: 0;
        width: 10%;
        margin: 18px auto 21px;
      }
      .accordian-block {
        padding: 2px 0;
        border: 1px solid #fff;
        margin: 0 0 20px 0;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.03);

      }
      .ac-title {
        position: relative;
        cursor: pointer;
        background: #eaeaea;
      }
      .ac-title p {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        color: #3a3a3ade;
        word-wrap: break-word;
        margin: 0;
        padding: 10px 32px 10px 51px;
        border-radius: 0;
      }
      .accordian-para {
        display: none;
        border-top: none;
        margin: 0px 0 0 0;
      }
      .commn-para-sm {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        color: #3a3a3ade;
        padding: 10px 20px 10px 50px;
        margin: 0 0 15px;
      }
      .ac-title.acc-active p {
        color: #ee60489c !important;
      }
      .plus-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
        z-index: 99;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        background-repeat: no-repeat;
      }
    }


  }

  p {
    font-size: 16px;
    color: #1B1C1C;
  }



  ul.tabs li {
    display: inline-block;
    cursor: pointer;
    background: #ffffff;
    color: #1B1C1C;
    z-index: 0;
  }


  ul.tabs li:hover:before {
    transform: scaleX(1);
  }

}

footer{
  .footer{
    width: 100%;
    border-top: 1px solid #2b4d8c;
    padding-top: 15px;
    padding-bottom: 55px;
    background: #f0f0f0;
    .no-pad{
      padding: 0;
    }
    .footer-box{

      display: flex;
      justify-content: left;
      flex-direction: column;
      .icon-link{
        width: 50%;
      }
      .footer-icon{
        display: inline-block;
        font-size: 20px;
        margin-top: 0px;
      }
      p{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: #696969;
        line-height: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      h2{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin-top: 5px;
        &:hover{
        color: #ff7676;
      }
      }
      h3{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        margin-bottom: 15px;
        margin-top: 9px;
      }
      li{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 15px;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover{
          color: #ff7676;
        }
      }
    }
  }
}


